*{
  padding:0;
  margin:0;
}

.name{
  background-color:#9a031e;
  padding:1rem; 
}

.sam{
  background-color: #9a031f;
  padding: 30px;
  
}

.san{
  color:#fb8b24;
  font-size:2.5em;
}


.container{
  background-color:#e36414;
  height:50rem;
}

.image{
  display:flex;
  justify-content:center;
  width:20rem;
  border-radius: 100px;
  margin:1.5rem;
  padding-top: 0.5rem;
  padding-left: 60rem;
}

.proj{
  background-color:#9a031f;
  padding: 50px;

}


.front{
  color:#e36414;
  font-size:2.5rem;
}

.mon{
  color:rgba(255, 255, 255, 0.877);
}

.button{
  background-color:#fb8c247a;
  font-size:1rem;
  border-radius:7px;
}

.git{
  color:#f7f2f3a1;
  padding:5px;

} 