body {
  background-color:#9a031fe8;
}
div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  border: 2px solid;
  border-radius: 10px;
  background-color:#fb8b24;

  
}
img {
  width: 300px;
  height: 350px;
  border-radius: 50px;
} 

button{
  background-color:#9dca20;
}

